@font-face {
  font-family: "Roxborough-CF";
  src: url("../assets/fonts/Roxborough-CF/Roxborough CF.ttf");
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat/Montserrat-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Nav */
header {
  background-color: #D8C5B4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 130px;
}

.logo-balter {
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: center;
}

.img-balter {
  height: 50px;
}

h1 {
  font-size: 1.3em;
  font-family: "Roxborough-CF";
  color: #584E45;
}

.secciones-paginas {
  width: 60%;
}

.paginas {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style-type: none;
  justify-content: space-evenly;
  font-family: "Roxborough-CF";
  color: #8C6F5F;
  text-transform: uppercase;
  font-size: 1.6em;
}

a {
  font-family: "Roxborough-CF";
  color: #8C6F5F;
  text-transform: uppercase;
  text-decoration: none;
}

.socialmedia {
  display: flex;
  flex-direction: row;
  width: 10%;
  justify-content: space-evenly;
}

.checkbtn {
  float: right;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

/* Nav */
/* Footer */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #584E45;
  min-height: 200px;
  font-family: "Montserrat";
  font-size: 1em;
  color: #F2F2F2;
}

.footer-contact {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h3 {
  font-family: "Montserrat";
  font-size: 1.6em;
  color: #F2F2F2;
}

.footer-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  height: 100px;
  list-style-type: none;
}

.footer-redes {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.iconos-redes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
}

/* Footer */
/* Responsive Mobile */
@media (max-width: 375px) {
  /* Nav */
  .checkbtn {
    display: block;
    float: inline-start;
  }
  .menuburger {
    float: inline-start;
  }
  .paginas {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #F2F2F2;
    top: 130px;
    left: -120%;
    text-align: center;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  #check:checked ~ ul {
    left: 0;
  }
  .socialmedia {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  header {
    display: flex;
    text-align: center;
  }
  header > .logo-balter {
    flex: 1;
    order: 2;
  }
  header > .secciones-paginas {
    width: 110px;
    order: 1;
  }
  header > .socialmedia {
    width: 110px;
    order: 3;
  }
  /* Nav */
  /* Footer */
  footer {
    height: 50vh;
    font-size: 0.8em;
  }
  .footer-contact {
    justify-content: space-evenly;
  }
  .footer-redes {
    justify-content: space-evenly;
  }
  /* Footer */
  /* Home */
  .main a {
    font-size: 0.2em;
  }
  /* Home */
  /* Nosotros */
  .main-seccion-nosotros {
    font-size: 0.8em;
  }
  .title-quienes {
    text-align: center;
    margin-top: 10%;
  }
  .seccion-imagen-nosotros {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 40% 25%;
  }
  /* Nosotros */
  /* Cuidados */
  .imagen-cuidados {
    background-repeat: no-repeat;
    background-position: top center;
  }
  .main-cuidados {
    font-size: 0.8em;
  }
  /* Cuidados */
  /* Contacto */
  .main-seccion-contacto {
    font-size: 0.8em;
  }
  .seccion-contacto {
    flex-wrap: wrap;
    justify-content: center;
  }
  .contacto-contacto {
    flex: 0 1 auto;
  }
  .ubicacion-contacto {
    flex: 1 1 20rem;
  }
  .googlemaps {
    width: 100%;
  }
  /* Contacto */
  /* FAQ */
  .main-seccion-faq {
    font-size: 0.8em;
    width: 100%;
  }
  .articulo {
    padding: 2%;
    padding-bottom: 10%;
  }
}
/*Home */
.main {
  background: url("../assets/img/IMG_4684.jpg") no-repeat center;
  height: 100vh;
  background-size: cover;
}

.main a {
  text-transform: none;
  font-size: 1.6em;
}

.btn-productos {
  font-family: "Roxborough-CF";
  background: #8C6F5F;
  color: #F2F2F2;
  padding: 15px 30px;
  position: relative;
  top: 500px;
  left: 400px;
}

.btn:hover {
  background: none;
} /* efecto vacio boton */
/* Home */
/* Nosotros */
.main-seccion-nosotros {
  display: flex;
  flex-direction: row;
}

.seccion-nosotros {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1em;
}

.title-quienes {
  font-family: "Roxborough-CF";
  color: #584E45;
  font-size: 1.8em;
  text-transform: uppercase;
  padding-left: 10%;
  padding-right: 10%;
}

.text-quienes {
  font-family: "Montserrat";
  color: #584E45;
  font-size: 1.1em;
  text-align: center;
  font-weight: lighter;
  align-items: center;
  list-style-type: none;
  padding-left: 10%;
  padding-right: 10%;
}

.seccion-imagen-nosotros {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/img/IMG_4721.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

/* Nosotros */
/* Productos con flex*/
/* .main-productos{
  display: flex;
  flex-direction: row;
}


.lateral-izq-productos{
  width: 15%;
}

.lateral-der-productos{
  width: 15%;
}

.seccion-productos{
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.title-productos{
  text-align: center;
  font-family: "Roxborough-CF";
  color: #584E45;
  font-size: 1.5em; 
  text-transform: uppercase;
  margin-top: 70px;
}

.fotos-productos{
  display: flex;
  flex-direction: row;
  width: 25%;
  justify-content: space-around;
  margin-top: 60px;
}

.difusor{
  margin-left: 60px;
  margin-right: 60px;
}


.subtitulos-productos{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding-bottom: 10%;
  text-align: center;
  font-family: "Montserrat";
  color: #584E45;
  font-size: 1.3em;
  align-items: center; 
} */
/* Productos con flex */
/* Productos con grids */
.main-productos {
  height: 50%;
  display: grid;
  grid-template-areas: "laterali productos laterald" "laterali productos laterald" "laterali productos laterald" "laterali productos laterald";
  grid-template-rows: 100%;
  grid-template-columns: 12% 76% 12%;
}

.lateral-izq-productos {
  grid-area: laterali;
}

.lateral-der-productos {
  grid-area: laterald;
}

.seccion-productos {
  font-size: 1em;
  grid-area: productos;
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fotos-productos {
  display: flex;
  justify-content: space-evenly;
}

.title-productos {
  font-family: "Roxborough-CF";
  color: #584E45;
  font-size: 1.5em;
  text-transform: uppercase;
}

.subtitulos-productos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 210px;
}

/* Cuidados */
.main-cuidados {
  display: flex;
  flex-direction: row;
}

.imagen-cuidados {
  width: 60%;
  height: 90vh;
  background-image: url(../assets/img/IMG_4714.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.seccion-cuidados {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 1em;
}

.title-cuidados {
  text-align: center;
  font-family: "Roxborough-CF";
  color: #584E45;
  font-size: 1.8em;
  text-transform: uppercase;
}

.article-cuidados {
  font-family: "Montserrat";
  color: #584E45;
}

.list-cuidados {
  list-style-type: none;
  height: 100px;
  font-size: 1.1em;
  text-align: center;
}

/* Cuidados */
/* Seccion FAQ */
.main-seccion-faq {
  display: flex;
  flex-direction: row;
  background-color: #F2F2F2;
  align-items: center;
}

.title-faq {
  text-align: center;
  font-family: "Roxborough-CF";
  color: #584E45;
  font-size: 1.8em;
  padding: 2%;
}

.section-faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #584E45;
  width: 40%;
  font-size: 1em;
}

.articulo {
  padding: 2%;
  padding-bottom: 10%;
}

.articulo__titulo {
  font-family: "Montserrat";
  color: #584E45;
  font-size: 1.3em;
  text-align: center;
  font-weight: normal;
}

.articulo__texto {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat";
  color: #584E45;
  font-size: 1.1em;
  text-align: center;
  font-weight: lighter;
  align-items: center;
  list-style-type: none;
}

.seccion-image-faq {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/img/Mi\ proyecto.jpg);
  background-size: cover;
  position: relative;
  overflow: hidden;
}

/* Seccion FAQ */
/* Contacto */
.parallax {
  background-image: url("../assets/img/IMG_4702.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 40vh;
}

.main-seccion-contacto {
  display: flex;
  flex-direction: column;
}

.seccion-contacto {
  display: flex;
  flex-direction: row;
  font-size: 1em;
  width: 100%;
}

.title-contacto {
  font-family: "Roxborough-CF";
  color: #584E45;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 5%;
}

.contacto-contacto {
  width: 60%;
  font-family: "Montserrat";
  color: #584E45;
  font-size: 1.3em;
  align-items: center;
  margin-left: 5%;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  line-height: 2;
  font-weight: lighter;
}

textarea {
  height: 60px;
  background-color: #584E45;
  padding-top: 10px;
}

::-moz-placeholder {
  font-family: "Montserrat";
  color: #d9c5b4;
  font-size: 1em;
  align-items: center;
  padding-left: 10px;
}

:-ms-input-placeholder {
  font-family: "Montserrat";
  color: #d9c5b4;
  font-size: 1em;
  align-items: center;
  padding-left: 10px;
}

::placeholder {
  font-family: "Montserrat";
  color: #d9c5b4;
  font-size: 1em;
  align-items: center;
  padding-left: 10px;
}

input {
  background-color: #584E45;
  padding-top: 10px;
  padding-bottom: 10px;
}

.ubicacion-contacto {
  width: 40%;
  padding: 5%;
}

.boton-contacto {
  margin-top: 10%;
  width: 30%;
  margin-left: 70%;
  color: #F2F2F2;
  background-color: #8C6F5F;
  font-family: "Roxborough-CF";
  font-size: 1.1em;
}

/* Contacto *//*# sourceMappingURL=main.css.map */